<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide" class="img-responsive">
        <div class="carousel-caption">
            <h1>BUILD SHIELDS</h1>
            <h3>Protect your future through a success driven mindset!</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img [src]="images[1]"  alt="Random second slide" class="img-responsive">
        <div class="carousel-caption">
            <h1>GET AMP'D</h1>
            <h3>Get Active! Get Motivated! Get Passionate!</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" class="img-responsive">
        <div class="carousel-caption">
            <h1>SLAY BOTS!</h1>
            <h3>Slay all threats of replacement!</h3>
        </div>
    </ng-template>
</ngb-carousel>
