<nb-card>
    <nb-card-body class="intro_story">
                <span>On the corner of Blackstone Avenue and Shields Ave in Fresno, California is an Old American mall in reconstruction.  Just like that mall fighting to find its way in the new economy is a group of designers, developers and all around go-getters looking to find their own way.
                This is the home of the new guild model that guided and built economies of old America.  This is the Black Shields Guild and we are looking to help you find your way through the new economy!</span>
    </nb-card-body>
</nb-card>
