@import '../../../content/scss/theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

/* ==========================================================================
Navbar
========================================================================== */

@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left {
        display: flex;
        width: 100%;
        order: 0;
        flex-direction: row;
    }
    .right {
        order: 1;
        flex-direction: row-reverse;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .control-item {
        display: block;
    }

    .header-container {
        display: flex;
        align-items: center;
        width: 100%;

        .navigation {
            padding-right: nb-theme(padding);
            font-size: 2.5rem;
            text-decoration: none;

            i {
                display: block;
            }

        }

        .logo {
            padding: 0 nb-theme(padding);
            font-size: 1.75rem;
            font-weight: nb-theme(font-weight-bolder);
            white-space: nowrap;

            span {
                font-weight: nb-theme(font-weight-normal);
            }
        }
    }

    .toggle-layout /deep/ a {
        display: inline;
        text-decoration: none;
        border-left: 1px solid nb-theme(separator);
        line-height: 1;

        i {
            color: nb-theme(color-fg-highlight);
            font-size: 2.25rem;
        }
    }

    @include media-breakpoint-down(md) {

        nb-action:not(.toggle-layout) {
            border: none;
        }

        .control-item {
            display: none;
        }

        .toggle-layout {
            padding: 0;
        }
    }

    @include media-breakpoint-down(sm) {

        nb-user /deep/ .user-name {
            display: none;
        }
    }

    @include media-breakpoint-down(is) {

        .header-container {
            .logo {
                font-size: 1.25rem;
            }
        }

        .toggle-layout {
            display: none;
        }

        nb-action:not(.toggle-layout) {
            padding: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        .right /deep/ {
            display: none;
        }
    }
}

/* ==========================================================================
JHipster Default Style
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    padding: .01em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: nb-theme(menu-active-bg);
        color: #7bff24;
        min-width: 140px;
        font-weight: nb-theme(menu-active-font-weight);
    }

    .dropdown-item {
        font-family: nb-theme(menu-font-family);
        font-size: nb-theme(menu-font-size);
        font-weight: nb-theme(menu-font-weight);
        background: nb-theme(menu-bg);
        color: nb-theme(menu-fg);
        min-width: 140px;
        padding: nb-theme(menu-item-padding);

        a {
            padding: nb-theme(menu-item-padding);
            border-radius: nb-theme(menu-submenu-item-border-radius);
        }
    }

    .dropdown-menu {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: nb-theme(btn-border-radius);
        border-bottom-right-radius: nb-theme(btn-border-radius);
        border: none;
        width: 100%;
        color: nb-theme(btn-fg);
        padding: 0.75rem 0;
        min-width: 140px;
    }

    .dropdown-item {
        color: inherit;
        padding: 0.75rem 1.5rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        cursor: default;
        margin-top: -2px;
        &:hover {
            background-color: nb-theme(btn-secondary-border);
        }
    }

    .control-item {
        font-size: nb-theme(menu-icon-font-size);
        width: nb-theme(menu-icon-font-size);
        margin: nb-theme(menu-icon-margin);
        text-align: center;
        color: nb-theme(menu-icon-color);
    }


    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: .2em;
        .nav-item {
            font-size: nb-theme(user-font-size);
            line-height: nb-theme(user-line-height);
            padding: nb-theme(menu-item-padding);
            margin-top: 10px;
            border-radius: nb-theme(menu-submenu-item-border-radius);

            &.background {
                color: nb-theme(user-fg);
            }
        }
    }
    a.nav-link {
        font-weight: 400;
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 350px 25px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
            font-size: 1.75rem;
            font-weight: nb-theme(font-weight-bolder);
            white-space: nowrap;

            span {
                font-weight: nb-theme(font-weight-normal);
            }
        }
    }
}

/* Navbar */

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9375rem;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color: #fff;
}

.navbar-brand{
    text-shadow: 2px 2px 3px;
    font-size: 1.625rem;
    color: #fff;
}

.brand-logo{
    width: 1.625rem;
    margin-top: -5px;
    z-index: 1;
}

.fa-linkedin-square:hover{
    color: #337ab7;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-twitter-square:hover{
    color: #0084b4;
}

.navbar .active{
    border-bottom: 2px solid #d73a8a !important;
}

.navbar{
    max-width: 100%;
    overflow-x: hidden;
}
.navbar-dark{
    background-color: transparent;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand{
    color: #FFF;
}
.navbar-dark .navbar-toggler{
    border-color: #FFF;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light{
    background-color: #FFF;
    box-shadow: 2px 2px 15px 2px;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
    color: #000;
}
.navbar-light .navbar-toggler{
    border-color: #7F7F7F;
}

@media (max-width: 768px) {
    html{
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .navbar-brand{
        padding-left: 15px !important;
    }
    h1{
        font-size: 1.5rem;
    }
}

@media (width: 768px) {
    .pt-max{
        padding-top: 50% !important;
    }
}

@media (width: 1024px) {
    .pt-max{
        padding-top: 50% !important;
    }
}

@media (max-width: 766px) {
    .navbar-collapse{
        color: #000;
        background-color: #fff;
        padding: 15px;
    }
    .navbar-collapse a{
        color: #000 !important;
    }
}

