@import '../../../content/scss/theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

/* ==========================================================================
Navbar
========================================================================== */

@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left {
        display: flex;
        width: 100%;
        order: 0;
        flex-direction: row;
    }
    .right {
        order: 1;
        flex-direction: row-reverse;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .control-item {
        display: block;
    }

    .header-container {
        display: flex;
        align-items: center;
        width: 100%;

        .navigation {
            padding-right: nb-theme(padding);
            font-size: 2.5rem;
            text-decoration: none;

            i {
                display: block;
            }

        }

        .logo {
            padding: 0 nb-theme(padding);
            font-size: 1.75rem;
            font-weight: nb-theme(font-weight-bolder);
            white-space: nowrap;

            span {
                font-weight: nb-theme(font-weight-normal);
            }
        }
    }

    .toggle-layout /deep/ a {
        display: inline;
        text-decoration: none;
        border-left: 1px solid nb-theme(separator);
        line-height: 1;

        i {
            color: nb-theme(color-fg-highlight);
            font-size: 2.25rem;
        }
    }

    @include media-breakpoint-down(md) {

        nb-action:not(.toggle-layout) {
            border: none;
        }

        .control-item {
            display: none;
        }

        .toggle-layout {
            padding: 0;
        }
    }

    @include media-breakpoint-down(sm) {

        nb-user /deep/ .user-name {
            display: none;
        }
    }

    @include media-breakpoint-down(is) {

        .header-container {
            .logo {
                font-size: 1.25rem;
            }
        }

        .toggle-layout {
            display: none;
        }

        nb-action:not(.toggle-layout) {
            padding: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        .right /deep/ {
            display: none;
        }
    }
}

/* ==========================================================================
JHipster Default Style
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    padding: .01em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: nb-theme(menu-active-bg);
        color: nb-theme(menu-active-fg);
        font-weight: nb-theme(menu-active-font-weight);
    }

    .dropdown-item {
        font-family: nb-theme(menu-font-family);
        font-size: nb-theme(menu-font-size);
        font-weight: nb-theme(menu-font-weight);
        background: nb-theme(menu-bg);
        color: nb-theme(menu-fg);
        padding-left: 10px;

        a {
            padding: nb-theme(menu-item-padding);
            border-radius: nb-theme(menu-submenu-item-border-radius);
        }
    }

    .control-item {
        font-size: nb-theme(menu-icon-font-size);
        width: nb-theme(menu-icon-font-size);
        margin: nb-theme(menu-icon-margin);
        text-align: center;
        color: nb-theme(menu-icon-color);
    }


    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: .2em;
        .nav-item {
            font-size: nb-theme(user-font-size);
            line-height: nb-theme(user-line-height);
            padding: nb-theme(menu-item-padding);
            margin-top: 10px;
            border-radius: nb-theme(menu-submenu-item-border-radius);

            &.background {
                color: nb-theme(user-fg);
            }
        }
    }
    a.nav-link {
        font-weight: 400;
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 350px 25px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
            font-size: 1.75rem;
            font-weight: nb-theme(font-weight-bolder);
            white-space: nowrap;

            span {
                font-weight: nb-theme(font-weight-normal);
            }
        }
    }
}
