<nb-layout [center]="layout.id === 'center-column'" [windowMode]="">

    <nb-layout-header fixed>
        <jhi-page-ribbon></jhi-page-ribbon>
        <jhi-navbar [position]="sidebar.id === 'left' ? 'normal': 'inverse'">
            <router-outlet name="navbar"></router-outlet>
        </jhi-navbar>
    </nb-layout-header>

    <!-- Start Banner Area -->
    <canvas id="canvas-basic"></canvas>
    <section class="banner-area" id="home">
        <img src="../../../content/images/img/mockup-1.png" alt="banner image" class="mt-7 ml-5 position-absolute banner-img w-30">
        <img src="../../../content/images/img/mockup-2.png" alt="banner image" class="mt-7 ml-5 position-absolute banner-img w-30" style="margin-left:65% !important; margin-top:25% !important;">
        <div class="banner-content text-center pt-max position-relative">
            <p class="text-white">We work hard, we result perfect</p>
            <h1 class="text-white">Creative Digital Agency</h1>
            <h3 class="white">Multi Purpose Template</h3>
            <a href="#about" class="primary-btn banner-btn">Explore Us</a>
            <br>
            <i class="fa fa-chevron-down white mt-5 arrow bounce" aria-hidden="true"></i>
        </div>
    </section>
    <!-- End Banner Area -->

    <nb-sidebar class="menu-sidebar"
                tag="menu-sidebar"
                state="collapsed"
                responsive
                [right]="sidebar.id === 'right'">
        <nb-sidebar-header>
            <a href="#" class="btn btn-hero-success main-btn">
                <i class="fa fa-shield"></i> <span>The Armory</span>
            </a>
        </nb-sidebar-header>
            <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column class="main-content">
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
            <nb-layout-footer fixed>
                <jhi-footer></jhi-footer>
            </nb-layout-footer>
        </div>
    </nb-layout-column>

    <nb-layout-column left class="small" *ngIf="layout.id === 'two-column' || layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
    </nb-layout-column>

    <nb-layout-column right class="small" *ngIf="layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
    </nb-layout-column>

    <nb-sidebar class="settings-sidebar"
                tag="settings-sidebar"
                state="collapsed"
                fixed
                [right]="sidebar.id !== 'right'">
    </nb-sidebar>

</nb-layout>

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll > 100) {
                $('.navbar').removeClass('navbar-dark').addClass('navbar-light');
                $('.navbar .navbar-brand img').attr('src', 'img/fav.png');
            }

            else {
                $('.navbar').removeClass('navbar-light').addClass('navbar-dark');
                $('.navbar .navbar-brand img').attr('src', 'img/logo.png');
            }
        })
    })

    $(".navbar a").on("click", function () {
        $(".navbar").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });



    var granimInstance = new Granim({
        element: '#canvas-basic',
        name: 'basic-gradient',
        direction: 'left-right', // 'diagonal', 'top-bottom', 'radial'
        opacity: [1, 1],
        isPausedWhenNotInView: true,
        states: {
            "default-state": {
                gradients: [
                    ['#360033', '#0b8793'],
                    ['#33001b', '#ff0084'],
                    ['#1a2a6c', '#b21f1f'],
                    ['#cc2b5e', '#753a88'],
                    ['#ee0979', '#ff6a00']
                ]
            }
        }
    });
</script>
