<nb-layout [center]="layout.id === 'center-column'" [windowMode]="">

    <nb-layout-header fixed>
        <jhi-page-ribbon></jhi-page-ribbon>
        <jhi-navbar [position]="sidebar.id === 'left' ? 'normal': 'inverse'">
            <router-outlet name="navbar"></router-outlet>
        </jhi-navbar>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar"
                tag="menu-sidebar"
                state="collapsed"
                responsive
                [right]="sidebar.id === 'right'">
        <nb-sidebar-header>
            <a href="#" class="btn btn-hero-success main-btn">
                <i class="fa fa-shield"></i> <span>The Armory</span>
            </a>
        </nb-sidebar-header>
            <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column class="main-content">
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
            <nb-layout-footer fixed>
                <jhi-footer></jhi-footer>
            </nb-layout-footer>
        </div>
    </nb-layout-column>

    <nb-layout-column left class="small" *ngIf="layout.id === 'two-column' || layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
    </nb-layout-column>

    <nb-layout-column right class="small" *ngIf="layout.id === 'three-column'">
        <nb-menu [items]="subMenu"></nb-menu>
    </nb-layout-column>

    <nb-sidebar class="settings-sidebar"
                tag="settings-sidebar"
                state="collapsed"
                fixed
                [right]="sidebar.id !== 'right'">
    </nb-sidebar>

</nb-layout>
